<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
       <form method= 'POST' action= '/articles'>
            <p><label> Article Title: </label><input type="text" id= "title" name= "title"></p>
            <p><label> Article Content: </label><input type="text" id= "content" name= "content"></p>
            <p> <input type= 'submit' id = "Submit"></p>
       </form>
      
    </body>
</html>